.margin-top
    margin-top: 12px

.margin-bottom
    margin-bottom: 12px

.margin-right
    margin-right: 12px

.panel.edit
    &>.panel-body
        padding: 0px
        &>textarea
            resize: none
            border: none

.panel.no-padding
    &>.panel-body
        padding: 0px

textarea.non-resize
    resize: none

.input-group
    &>div.rdt
        &>div.rdtPicker
            margin-top: 35px

.clipboard
    position: absolute
    right: 5px
    top: 5px

.clipboard-parent
    position: relative

.no-padding
    padding: 0

.no-margin
    margin: 0
